body {
  background: deeppink;
}

#container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
}

td {
  border: 1px solid hotpink;
  border-radius: 10px;
  height: 180px;
}