<!DOCTYPE html>
<html ng-app="tttApp">
<head>
  <title>Angular Tic-Tac-RoHo</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/tttController.js"></script>
</head>
<body>

  <section id="container" ng-controller="TttController as ttt">
    <h1>Tic-Tac-RoHo</h1>

    <table>
      <tr>
        <td id="cell1" class="cell" ng-click="ttt.move()"></td>
        <td id="cell2" class="cell" ng-click="ttt.move()"></td>
        <td id="cell3" class="cell" ng-click="ttt.move()"></td>
      </tr>
      <tr>
        <td id="cell4" class="cell" ng-click="ttt.move()"></td>
        <td id="cell5" class="cell" ng-click="ttt.move()"></td>
        <td id="cell6" class="cell" ng-click="ttt.move()"></td>
      </tr>
      <tr>
        <td id="cell7" class="cell" ng-click="ttt.move()"></td>
        <td id="cell8" class="cell" ng-click="ttt.move()"></td>
        <td id="cell9" class="cell" ng-click="ttt.move()"></td>
      </tr>
    </table>
  </section>


</body>
</html>